<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
      <mat-menu #animals="matMenu">
        <button mat-menu-item>Vertebrates</button>
        <button mat-menu-item>Invertebrates</button>
      </mat-menu>

      <mat-menu #vertebrates="matMenu">
        <button mat-menu-item>Fishes</button>
        <button mat-menu-item>Amphibians</button>
        <button mat-menu-item>Reptiles</button>
        <button mat-menu-item>Birds</button>
        <button mat-menu-item>Mammals</button>
      </mat-menu>
    </button>

    <span>My App</span>
    <button mat-raised-button color="primary" (click)="linklogin()">
      loginss
    </button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="primary">Primary</button>

    <span class="example-spacer"></span>
    <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>login</mat-icon>
    </button>
  </mat-toolbar>
</p>
