<section class="container mt-2">
  <h1 style="text-decoration: underline; font-weight: bold">
    Acerca de nosotros:
  </h1>

  <div>
    <p>
      El abandono de mascotas es una problemática social que no solo se le debe
      dar solución por la protección de las condiciones de vida de los animales
      sino también por protección de la salud pública ya que no cuentan con un
      esquema de vacunación que impida que estos puedan esparcir plagas y
      enfermedades.
    </p>
    <p>
      En Medellín se evidenció que debido a la pandemia las cifras de abandono
      subieron en mayor medida en los barrios de estratos bajos debido a la
      difícil situación económica y por la creencia de que los animales también
      serian portadores del virus. Los casos de abandono no solo se dan por
      falta de condiciones económicas que permitan la manutención de estos,
      también se da por falta de opciones de reubicación de las mascotas ya que
      muchos solo buscan entre sus conocidos quienes quieran adoptar a la
      mascota o no buscan y por la falta de responsabilidad social, ejemplo de
      esto son los casos en los que los ciudadanos adquieren los animales cuando
      están pequeños, luego de que estos crecen no son capaces de controlar su
      dinamismo o hábitos y dan como solución el abandono de estos.
    </p>
    <p>
      Para las personas de la ciudad de Medellín que tengan dificultades para
      seguir cuidando de su mascota se les estará dando una nueva opción de
      buscarle un nuevo hogar a estos.
    </p>
    <p>
      La Situación Actual Y Su Evolución: Cuando un hogar decide no seguir a
      cargo de su mascota muchos de estos casos se solucionan dentro de las
      mismas zonas residenciales ya que los dueños del animal contactan a sus
      familiares o vecinos para consultarles si se quieren o conocen a alguien
      que se quiera hacer cargo de su mascota.
    </p>
    <p>
      La problemática está para los casos en los que la persona no encuentra
      quien se pueda responsabilizar de la mascota a causa de tener un grupo
      social reducido. Cada perro o gato que sea abandonado puede seguir
      aumentando el problema de animales callejeros ya que este se puede
      reproducir con otro en igual estado y estas crías muy probablemente
      tampoco tendrán un hogar. Una de las alternativas que damos para disminuir
      el número de abandono de mascotas es dar un medio en el cual las personas
      que quieran dar en adopción puedan dar a conocer a más personas su
      mascota.
    </p>

    <p>
      DOGAT, será utilizado principalmente por personas que deseen adoptar o
      postear animales para la adopción, o que estén buscando su mascota
      extraviada. Por otro lado, también se podrá postear animales para la
      venta, esto con el fin de poder costear el alojamiento del sitio en la
      web.
    </p>
  </div>

  <div>
    <h2>Nuestro equipo</h2>
    <p>
      Para el desarrollo de este proyecto se implementará la metodología Scrum,
      por lo que el equipo estará compuesto por 3 integrantes que ya han tenido
      experiencia frente al desarrollo ágil. Principalmente se dividirán las
      tareas/actividades en 2 desarrolladores, repartidos en front-end y
      back-end además del diseñador y líder de proyecto.
    </p>
  </div>
</section>
