<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div>
    <img src="./assets/img/icon.png" width="60px" />
    <a class="navbar-brand" href="#" style="font-weight: bold; color: #fded72"
      >DOGAT</a
    >
  </div>
  <button
    class="navbar-toggler collapsed"
    type="button"
    data-toggle="collapse"
    data-target="#navbarColor01"
    aria-controls="navbarColor01"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Publicar</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">Contácto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">Acerca de</a>
      </li>
    </ul>
    <form class="form-inline">
      <div class="row">
        <div class="col-8">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="Buscar"
            aria-label="Buscar"
          />
        </div>
        <div class="col-2">
          <button class="btn btn-outline-warning" type="submit">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-funnel"
              viewBox="0 0 16 16"
            >
              <path
                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"
              />
            </svg>
          </button>
        </div>
        <div class="col-2">
          <button class="btn btn-outline-info" type="submit">Buscar</button>
        </div>
      </div>
    </form>
    <button
      class="btn btn-outline-info rounded-circle float-right bg-success btn-user"
      type="submit"
      routerLink="/login"
    >
      D
    </button>
  </div>
</nav>
<!-- https://getbootstrap.com/docs/4.0/components/forms/ -->
