<div class="body">

   <div class="login"> 
     <form>
    <img src="./assets/img/login.jpg"  width="30%">
    <h1>login</h1>

          <mat-form-field  class="ancho" appearance="fill">
             <mat-label>Usuario</mat-label>
              <input matInput autocomplete="off" form-controlname="usuario">
         </mat-form-field>
     <br>
         <mat-form-field class="ancho"  appearance="fill">
             <mat-label>Contraseña</mat-label>
              <input matInput autocomplete="off" form-controlname="contraseña">
         </mat-form-field>

        <br>
        <button mat-raised-button color="primary" class="button">ingresar</button>
      </form>
    </div>
</div>