<div class="container my-5">
  <div class="card bg-light">
    <form class="card-body" novalidate="" action="" method="" id="bootstrapForm">
      <h1>Formulario</h1>
      <hr>
      <form #formUsuario="ngForm"  class="row g-3 needs-validation" novalidate>
        <div class="col-md-4 position-relative">
          <label class="form-label">Nombre</label>
          <input class="form-control" name="nombre" #nombre="ngModel" 
            id="exampleFormControlInput1" style="width: 18rem; margin: 0.5rem;" ngModel minlength="4" maxLength="15"
            required>
          <span *ngIf="nombre.touched && !nombre.valid">Error</span>
        </div>

        <div class="col-md-4 position-relative">
          <label class="form-label">Apellido</label>
          <input class="form-control" name="apellido" #apellido="ngModel"
            id="exampleFormControlInput1" required style="width: 18rem; margin: 0.5rem;" ngModel minlength="4"
            maxLength="15" required>
          <span *ngIf="apellido.touched && !apellido.valid">Error</span>
        </div>

        <div class="col-md-3 position-relative">
          <label class="form-label">Edad</label>
          <input class="form-control" name="edad"  
            id="exampleFormControlInput1" required style="width: 18rem; margin: 0.5rem;" min="18" max="80" required>
         
        </div>

        <div class="col-md-4 position-relative">
          <label class="form-label">Celular</label>
          <input class="form-control" name="celular" 
            id="exampleFormControlInput1" required style="width: 18rem; margin: 0.5rem;" min="10" max="13" required>
          <span >Error</span>
        </div>

        <div class="col-md-4 position-relative">
          <label class="form-label">correo</label>
          <div class="input-group has-validation">
            <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
            <input type="text" class="form-control" id="validationTooltipUsername"
              aria-describedby="validationTooltipUsernamePrepend" required>
          </div>
        </div>

        <div class="col-md-4 position-relative">
          <label class="form-label">Ciudad</label>
          <input class="form-control" name="ciudad" #ciudad="ngModel" 
            id="exampleFormControlInput1" required style="width: 18rem; margin: 0.5rem;" ngModel minlength="4"
            maxLength="20" required>
          <span *ngIf="ciudad.touched && !ciudad.valid">Error</span>
        </div>

        <div class="col-md-4 position-relative">
          <label class="form-label">Barrio</label>
          <input class="form-control" name="barrio" #barrio="ngModel" 
            id="exampleFormControlInput1" required style="width: 18rem; margin: 0.5rem;" ngModel minlength="4"
            maxLength="20" required>
          <span *ngIf="barrio.touched && !barrio.valid">Error</span>
        </div>

        
        <div>
          <button type="submit" class="btn btn-secondary">Registrar</button>
        </div>
      </form>
    </form>
  </div>
</div>
